<div>
  <div class="col-md-6 offset-md-3">
    <h1 class="pb-5 text-center">Wix Technical Task</h1>

    <app-editor></app-editor>

    <div class="mt-5">
      <button [routerLink]="'recursive'" type="button" class="btn btn-primary mr-2">Recursive</button>
      <button [routerLink]="'iterative'" type="button" class="btn btn-primary mr-2">Iterative</button>
      <button (click)="clearNodes()" type="button" class="btn btn-secondary">Clear all nodes</button>
    </div>

    <div class="pt-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>





